.artical {
    background-color: #f0f0f0;
    color: #222;
    flex: 0 0 33.3333%;
    text-align: center;
    padding-bottom: 20px;
    border: 1px solid rgb(90, 75, 165);
    width: 361.7px;
    margin-bottom: 6px;
    margin-left: 78px;
    margin-top: 8px;
}

label {
    color: #000088;
    font-size: 20px;
    padding-right: 10px;
}

form {
    padding-left: 10px;
    padding-bottom: 30px;
    border: 2px solid#00008a;
    margin-left: 78px;
    margin-right: 123px;
}

h1 {
    color: #00008a;
}

p {
    margin-left: 6px;
    margin-right: 6px;
}

input {
    margin-right: 10px;
    height: 22px;
}

button,
input[type="submit"] {
    background-color: rgb(63, 63, 240);
    /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 4px 12px;
    font-size: 12px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-main {
    display: flex;
    flex-wrap: wrap;
}